<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SamplingStartStop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SamplingStartStop.Properties.Settings>
            <setting name="RadioButton1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioButton8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value />
            </setting>
        </SamplingStartStop.Properties.Settings>
    </userSettings>
</configuration>